body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    width: 100%;
    height: 80px;
    top: 0%;
    position: fixed;
    background-color: lightblue;
}
#titulo {
    position: relative;
    font-size: 20px;
    font-family: monospace;
    top: 15px;
    left: 15px;
}
#link {
    position: relative;
    left: 500px;
    bottom: 20px;
}
.class {
    float: left;
}
#minha_foto {
    width: 250px;
    margin-top: 50px;
}
#div0 {
    width: 500px;
}
.lado-esquerdo {
    display: inline-block;
    float: none;
    width: 200px;
}
.lado-direito {
    display: inline-block;
    float: right;
    width: 200px;
}
#artigo {
    line-height: 15px;
}
#rodape {
    left: 200px;
    margin-bottom: 0%;
    padding: 1px;
    border: 2px solid black;
    bottom: 0%;
    font-style: italic;
    color: brown;    
}