body {
  background-color: rgb(253, 251, 251);
}

header {
  background-color: pink;
  position: fixed;
  top: 0;
}

#minha_foto {
  margin-top: 60px;
  width: 370px;
}

#gitLink {
  display: none;
}

nav h1 {
  display: none;
}

.photo {
  display: none;
}
