body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: medium;
  word-spacing: 4px;
  line-height: normal;
}

#cabecalho {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background-color: green;
  overflow: hidden;
}


h1 {
  display: inline-block;
  margin: 0;
  color: white;
}

/**
* Consultei o site W3shools para realizar o menu fixado
* link: https://www.w3schools.com/howto/howto_css_fixed_menu.asp
*/

.menu a {
  display: block;
  width: 10%;
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: white;
}

.principal {
  margin-top: 55px;
  background-color: green;
}

.menu a:hover {
  background-color: white;
  color: black;
}

.inicio {
  display: block;
  max-width: 1366px;
  max-height: 500px;

}

#minha_foto {
  width: 100%;
  max-height: 200px;
  display: block;
}

.table {
  display: block;
}

.table ol {
  list-style-type: none;
}

#licoes_aprendidas {
  display: inline-block;
  width: 500px;
  padding: 0px;
  margin-left: 50px;
  margin-right: 200px;
  background-color: white;
  list-style-type: none;
}

#licoes_a_aprender {
  display: inline-block;
  width: 500px;
  padding: 0px;
  background-color: white;
  list-style-type: none;
}

.lado-esquerdo {
  display: inline-block;
  text-align: justify;
  width: 45%;
  background-color: white;
  padding: 10px 15px;
}

.lado-direito {
  display: inline-block;
  text-align: justify;
  width: 45%;
  background-color: white;
  padding: 10px 30px;
}

#rodape {
  display: block;
  height: 100px;
  text-align: center;
  background-color: green;
}

#link-final {
  display: block;
  padding: 10px;
  background-color: white;
  text-decoration: none;
  width: 200px;
  border: 5px solid black;
  margin-left: 490px;
  border-radius: 50%;
}
