body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
}

#minha_foto {
  width: 200px;
  top: 100px; 
  margin-top: 90px;
  border-radius: 100px;
}

footer {
  margin-top: 100px;
}