a {
  color: rgb(40, 36, 36);
  font-weight: 600;
  text-decoration: none;
}

article {
  padding: 20px 0 20px 60px;
}

article h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

article p , aside p {
  text-align: justify;
  text-indent: 30px;
}

aside p {
  font-weight: 700;
}

aside , .rodape {
  padding: 20px 60px;
}

body {
  background-color: rgb(253, 251, 251);
  color: rgb(40, 36, 36);
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.cabecalho {
  background-color: rgb(252, 237, 233);
  border: none;
  margin: 0;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.cabecalho h1 {
  font-size: 28px;
  margin: 0;
  text-align: left;
}

.lado-direito {
  display: block;
  float: right;
  width: 25%;
}

.lado-esquerdo {
  display: block;
  width: 65%;
}

.menu {
  background-color: rgb(252, 237, 233);
  line-height: 30px;
  margin-bottom: 30px;
  padding: 100px 10px 10px;
  text-align: center;
}

.menu h2 {
  font-size: 22px;
  margin-bottom: 0;
}

.menu img {
  border-radius: 100%;
}

.menu p {
  font-style: italic;
  font-weight: 600;
  margin: 0;

}

nav a {
  color: rgb(40, 138, 138);
  margin: 10px;
}

.rodape {
  color: rgb(40, 138, 138);
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.rodape p {
  margin: 0;
}

.secao-direita , .secao-esquerda {
  display: inline-block;
  padding: 30px 0 30px 60px;
  vertical-align: top;
  width: 30%;
}
