* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
}

#titulo {
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: rgb(6, 73, 6);
  color: white;
  border-bottom: 20px black solid;
}

#cabecalho ul li {
  display: inline-block;
  text-align: right;
  width: 100%;
  padding: 10px;
  color: white;
  margin-top: 30px;
}

div {
  width: auto;
  margin: auto;
}

#minha_foto {
  display: block;
  width: 300px;
  border-radius: 300px;
  margin: auto;
}

.link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-weight: 900;
  list-style: none;
}

main {
  padding: 50px;
  margin-top: 100px;
  line-height: 35px;
}

section {
  padding: 50px;
}

section div {
  display: inline-block;
  padding: 50px;
  width: auto;
  margin: auto;
}

footer {
  margin-bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-style: italic;
  display: inline-block;
  height: 100px;
}

h2 {
  padding: 30px;
}

h3 {
  padding: 30px;
}

.lado-esquerdo {
  float: left;
  width: 50%;
  padding: 20px;
}

.lado-direito {
  float: right;
  width: 40%;
  padding: 20px;
}

table {
  width: 100%;
}
