body {
  background-color: rgb(253, 251, 251);
  font-family: Courier, monospace;
}

header {
  position: fixed;
  top: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(136, 128, 128);
}

h1 {
  text-align: center;
  font-size: xx-large;
}

section {
  display: block;
  margin-top: 12%;
}

.nav_links {
  text-decoration: none;
  margin: 2%;
  font-size: 14px;
  display: inline-block;
  color: rgb(105, 4, 126);
  background-color: rgb(221, 217, 217);
}

.conteudo_invisivel {
  display: none;
}

nav {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: rgb(221, 217, 217);
}

table , th , td {
  border: 1px solid gray;
}

table {
  width: 100%;
}

ol li {
  line-height: 30px;
}

ul li {
  line-height: 30px;
}

main {
  display: inline-block;
  width: 100%;
}

.lado-direito {
  float: right;
  margin-left: auto;
  display: block;
  width: 20%;
  text-align: justify;
}

.lado-esquerdo {
  float: left;
  margin-right: auto;
  width: 70%;
  display: block;
  text-align: justify;
}

aside { 
  display: block;
  padding: 10px;
}
\n