body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
}

#cabecalho {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(255, 208, 0);
  text-align: center;
  font-weight: 900;
}

main {
  margin-top: 120px;
}

#container_image {
  width: 100%;
  height: 300px;
  background-color: rgb(81, 146, 155);
  text-align: center;
}

#minha_foto {
  height: 300px;
}

/* Conteúdo das lições aprendidas e a aprender */

#container_licoes {
  margin-top: 120px;
}

#container_ol {
  background-color: rgb(39, 167, 60);
  width: 49.8%;
  display: inline-block;
}

#container_ul {
  background-color: chartreuse;
  width: 49.8%;
  display: inline-block;
}

#container_ol h2 {
  margin-left: 40px;
  font-size: 25px;
} 

#licoes_aprendidas {
  margin-left: 40px;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  line-height: 30px;
}

#container_ul h2 {
  margin-left: 40px;
  font-size: 25px;
} 

#licoes_a_aprender {
  margin-left: 40px;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  line-height: 20px;
  line-height: 30px;
}

/* Conteúdo dos artigos */

#container_conteudos {
  background-color: coral;
  margin-top: 120px;
  padding: 20px;
  text-align: justify;
}

.lado-esquerdo {
  width: 500px;
  display: inline-block;
  border-style: dotted;
  border-color: rgb(91, 207, 188);
  padding: 10px;
}

.lado-direito {
  width: 700px;
  display: inline-block;
}

#conteudo_lado_direito {
  width: 400px;
  display: inline-block;
  border-style: dotted;
  border-color: rgb(91, 207, 188);
  padding: 10px;
}

#conteudo_a_parte {
  width: 250px;
  display: inline-block;
  box-sizing: border-box;
  border: black;
  border-style: solid;
  border-color: rgb(42, 54, 163);
  padding: 10px;
}

/* Tabela */

#tabela {
  margin-top: 120px;
  background-color: rgb(224, 186, 224);
  padding: 10px 0px 25px 0px;
}

#tabela h2 {
  text-align: center;
}

table {
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

th, td {
  padding: 5px 10px;
}

th {
  background-color: rgb(21, 4, 98);
  color: white;
  font-size: 1.2em;
}

/* Rodapé */

#rodape {
  text-align: center;
  background-color: rgb(78, 74, 78);
  height: 25px;
  margin-top: 60px;
}

#rodape h4 {
  padding-top: 4px;
}