.body {
background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    width: 100%;
    height: 17%;
    position: fixed;
    background-color: gold;
    text-align: center;
    font-size: 30px;
}

#titulo {
    margin-top: 0;
}

#botoes {
    font-size: 25px;
    margin-bottom: 8px;
    display: inline;
    position: fixed;
    text-align: center;
    margin-top: 74px;
    margin-left: 40%;


}

#minha_foto {
    border-radius: 30px;
    margin-top: 150px;
}

#licoes_aprendidas {
    display: inline-block;        
}

#licoes {
    display: inline-block;    
}

.aprender {
    font-style: normal;
    font-family: sans-serif;
}

.text {
    font-style: normal;
    font-family: sans-serif;
}

#rodape {
    margin-left: 39%;
    font-size: 25px;
    margin-top: 24px;
}
