/* Requisito 1 */
body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

header h1 {
  text-align: center;
  width: 100%;
  color: white;
}

section nav {
  color: white;
}

#minha_foto {
  width: 200px;
  padding: 100px 0 25px;
  margin: 50px 25px 10px;
}

table , th , td {
  border: 1px solid black;
}

.check {
  background-color: green;
  text-align: center;
}

.not-check {
  background-color: red;
  text-align: center;
}

.link {
  background-color: blue;
  color: white;
  padding: 20px;
  border: 1px solid black;
  margin: 1px 1px 35px 75px;
  display: inline-block;
}

.link:hover {
  background-color: cornflowerblue;
  color: black;
  border: 1px ridge red;
}

article p {
  text-indent: 10px;
  line-height: 30px;
  
  
}

aside p{
  text-indent: 10px;
  line-height: 30px;
}

.content-list {
  display: inline-block;
}

.lista-ordenada {
  display: inline-block;
}

.lista-nao-ordenada {
  display: inline-block;
}