* {
  margin: 0;
  box-sizing: border-box;
	font-family: Architects Daughter;
}

body {
  background-color: rgb(253, 251, 251);
	font-size: 14px;
}

#cabecalho {
	position: fixed;
  top: 0;
	width: 100%;
  background-color: rgb(245, 188, 91);
  color: white;
  text-align: center;
  padding: 50px;
}

#minha_foto {
  width: 200px;
  border-radius: 100%;
  text-align: center;
  border: solid rgb(245, 188, 91);
}

#listas {
  text-align: center;
  background-color: rgb(245, 188, 91);
}

#licoes_aprendidas {
  background-color: rgb(253, 213, 177);
  margin: 10px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3%;
}

#licoes_a_aprender {
  background-color: rgb(253, 213, 177);
  margin: 10px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3%;
}

#profile_image {
	margin-top: 110px;
  padding: 50px;
  text-align: center;
  background-color: rgb(253, 213, 177);
}

#text_about_experience {
  text-align: center;
  padding: 50px;
  background-color: rgb(253, 213, 177);
}

#text_about_apprenticeship {
  background-color: rgb(245, 188, 91);
  margin-left: 40px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3%;
}

#rodape {
  text-align: end;
  padding: 20px;
  background-color: rgb(245, 188, 91);
}

#recommendation {
  color: rgb(255, 41, 101);
  text-decoration-line: none;
}
