body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
  line-height: 1.5;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(174, 217, 255);
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  margin: 0 1em 1em auto;
}

main {
  padding-top: 120px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}

thead , tfoot {
  text-align: center;
}

thead {
  color: rgb(56, 139, 0);
}

tfoot {
  font-size: 0.7em;
}

th , td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0.2em 0.5em;
}

code {
  background-color: rgb(199, 199, 199);
  padding: 2px;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: right;
}

.lado-esquerdo , .lado-direito {
  max-width: 45%;
}

#main_header {
  text-align: center;
}

#main_header div {
  display: inline-block;
  text-align: justify;
}

#main_header h2 {
  margin: 1em 1em 0;
}

footer {
  clear: both;
  text-align: center;
}
