html , body {
  font-family: monospace;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  height: 70px;
  background-color: rgb(106, 253, 106);
  margin-top: 0;
  text-align: center;
}

#titulo {
  margin-top: 0;
}

#minha_foto {
  margin-top: 10px;
  width: 150px;
  border-radius: 2%;
}

ol , ul {
  display: inline-block;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  width: 45%;
  padding: 2%;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  text-align: center;
}

h5 {
  text-align: center;
}

table {
  margin: auto;
  margin-bottom: 30px;
}

table , th , td {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: rgb(39, 39, 39);
}
