body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
}

#cabecalho ul {
  list-style: none;
}

#cabecalho h1 {
  text-align: center;
  font-size: 38px;
  color: rgb(0, 75, 0);
}

.tabela1 {
  border: 1px solid black;
  margin: 0;
  width: 250px;
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(180, 204, 180);
  border: 1px solid black;
}

#minha_foto {
  width: 200px;
  margin-left: 20px;
  padding: 0;
  border: 1px solid black;
}

#main {
  margin-top: 12%;
}

.lado-esquerdo {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin-left: 100px;
}

.lado-esquerdo p {
    text-align: center;
    border: 1px solid black;    
}

.aside {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-right: 100px;
    float: right;
}

.aside p {
    text-align: center;
    border: 1px solid black;
}
#rodape {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

#licoes_aprendidas {
    display: inline-block;
    width: 300px;
    height: 200px;

}
